body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App:first-child{
  display: flex;
  justify-content: center;
}
.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: absolute;
  color: white;
  font-weight: normal;
  backdrop-filter: blur(4px);
}
.navbar p{
  margin-left: 1rem;
}

.navbar ul{
  display: flex;
  justify-content: end;
}
.navbar ul li{
  list-style: none;
  margin-right: 2rem;
  transition: all .1s ease-in-out;
}
.navbar ul li:hover{
  transform: scale(1.05);
  cursor: pointer;
  z-index: 3;
}

.banner{
  position: relative;
  width: 100vw;
  height: 50vh;
  z-index:1
} 
.banner .portada{
  position: absolute;
  width: 100%;
  height: 100%;
}

.contenedor_simple{

  position: absolute;
  top: 25%;
  right: -webkit-calc(5%);
  display: flex;
}
.banner .tarjeta_presentacion{
  position: relative;
  border: 1px solid black;
  width: 400px;
  border-radius: 20% 60% 60% 20%;
  height: 220px;

  backdrop-filter: blur(4px);
  
}
.banner .tarjeta_presentacion .cripto{
  width: 50%;
  height: 50%;
  
  justify-content: center;
  text-align: center;
}

.banner .foto_perfil{
  position: absolute;
  right: 0px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.banner .foto_perfil:hover{
  transform: scale(1.1);
}

.banner .educacion{
  width: 18%;
  color:white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  border-radius: 0.5rem;
  background-color: hsla(600, 80%, 8%, .4) ;
  height: 25%;
  position: absolute;
  top: 37%;
  left: -webkit-calc(10%);
  backdrop-filter: blur(4px);
}